<!--START OF HEADER-->
<div id="header_content">
    <div class="second_h">
        <nav class="nav_f">
            <a href="" class="link">Home</a>
            <a href="" class="link">Catalog</a>
            <a href="" class="link">Shop</a>
            <a href="" class="link">Page</a>
            <a href="" class="link">Blog</a>
            <a href="" class="link">Docs</a>
        </nav>
        <div class="logo_area">
            <a href="" class="logo_link">
                <h2 class="logo">Shopper.</h2>
            </a>
        </div>
        <div class="drawer_icon">
            <a href=""><span class="dot"><i class="fa-solid fa-bars"></i></span></a>
        </div>
        <nav class="nav_s">
            <ul>
                <li class="list">United States</li>
                <li class="list">USD<i class="fa-solid fa-angle-down"></i></li>
                <li class="list">EN<i class="fa-solid fa-angle-down"></i></li>
            </ul>
        </nav>
        <div class="icons">
            <ul>
                <li class="list">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </li>
                <li class="list"><i class="fa-regular fa-user"></i></li>
                <li class="list"><i class="fa-regular fa-heart"></i></li>
                <li class="list">

                    <a routerLink="/cart" routerLinkActive="active">
                        <i class="fa-solid fa-cart-shopping">Cart</i>
                    </a>


                </li>
            </ul>
        </div>
    </div>
</div>

<!--END OF HEADER-->